/* Include Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* Fixed top bar and buttons */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-container, .right-container {
    display: flex;
    align-items: center;
}

.logo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.logo-button img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.logo-button:hover {
    background-color: #555;
}

.input-button {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.input-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation bar styles */
nav {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 999;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    flex: 0 0 auto;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    transition: border-bottom 0.3s;
}

nav ul li a:hover {
    border-bottom: 1px solid #fff;
}

/* Styling for the Nutrition link */
.nutrition-link {
    color: #005caa; /* MyFitnessPal logo blue color */
    font-weight: bold;
    
}

.nutrition-link:hover {
    border-bottom: 1px solid #005caa; /* Same blue color for hover effect */
}

/* Main content styles */
main {
    padding-top: 120px; /* Adjust based on the combined height of fixed-top and nav */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dashboard title styles */
.dashboard-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Counters and insights box styling */
#counters, .insights-box {
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input {
    width: calc(90% - 20px);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

/* Canvas styles */
canvas {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Scroll container styles */
.scroll-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 10px 0;
    max-height: 60vh;
    margin-bottom: 20px;
}

.scroll-container .chart-container {
    flex: 0 0 auto;
    width: 90%;
    max-width: 600px;
    margin: 0 10px;
}

/* General styles for the aggregate box */
.aggregate-box {
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.aggregate-box h2 {
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.aggregate-box ul {
    list-style: none;
    padding: 0;
}

.aggregate-box li {
    margin-bottom: 4px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1.dashboard-title {
        font-size: 1.5rem;
    }

    #counters, .insights-box {
        font-size: 12px;
        padding: 8px;
    }

    canvas {
        max-width: 100%;
    }

    .scroll-container .chart-container {
        width: 80%;
    }

    main {
        margin-top: 120px; /* Adjust based on the combined height of logo-button and nav */
    }
}

@media (max-width: 480px) {
    h1.dashboard-title {
        font-size: 1.2rem;
    }

    #counters, .insights-box {
        font-size: 10px;
        padding: 6px;
    }

    canvas {
        max-width: 100%;
    }

    .scroll-container .chart-container {
        width: 100%;
    }

    main {
        margin-top: 120px; /* Adjust based on the combined height of logo-button and nav */
    }
}